* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #4f4f51;
    color: #d6d6d6;
}

h2 {
    color: #202020;
}
.head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
}

#image {
    display: block;
    max-width: 100%; 
    margin-left: auto;
    margin-right: auto;
}

.content {
    padding: 20px;
}

.content h2 {
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #d6d6d6;
}

#link {
    font-size: 1.25rem;
    margin: 20px;
}

@media only screen and (min-width: 1150px) {
    .head {
        height: 645px;
        padding: 20px;
        margin-top: 80px;
    }
    .container-head h1 {
        font-size: 4rem;
    }
    .container-head {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 150px auto;
        width: 80%;
        height: 80vh;
    }

    .content {
        display: flex;
        justify-content: center;
        column-gap: 40px;
    }
    .boxes {
        width: 20%;
        padding: 20px;
        height: 40rem;
        background-color: #444444;
    }

    #image {
        margin-top: 103px;
    }

    #link {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 5px;
        width: 100%;
        height: 80px;
        margin: 40px 0;
        background-color: #444444;
    }
   
}



